:root {
  --bg: white;
  --fg: #121212;
  --code-bg: #eee;
  --code-fg: #333;
  --example-btn-fg: #0070f3;
}

[data-theme="dark"] {
  --bg: #121212;
  --fg: #ddd;
  --code-bg: #222;
  --code-fg: #ccc;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  color: inherit;
  text-decoration: none;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
