.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer .name {
  margin-left: 0.2em;
  color: #0070f3;
}

.footer a:hover .name {
  text-decoration: underline;
}

.themeSwitch {
  background: none;
  border: none;
  font-size: 1.5rem;
  padding: 0;
  transition: transform 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}

.themeSwitch:hover {
  cursor: pointer;
  transform: translateY(-0.2em);
}

.top {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 42rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem 2rem 2em;
}

.headings {
  margin-left: 2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  margin: 0;
}

@media (max-width: 675px) {
  .top {
    flex-direction: column;
    text-align: center;
  }
  .headings {
    margin-left: 0;
  }
  .title {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .description {
    font-size: 0.75rem;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 0.7rem;
  }
}

.section {
  max-width: 42rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.section:last-of-type {
  margin-bottom: 0;
}

.subtitle {
  margin: 0 0 1rem 0;
}

.about {
  text-align: justify;
}

.about:last-of-type {
  margin-bottom: 0;
}

.code {
  background-color: var(--code-bg);
  border-radius: 5px;
  padding: 0.5rem;
  font-size: 0.9rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  color: var(--code-fg);
  display: block;
  max-width: max-content;
  white-space: nowrap;
  overflow: scroll;
  overflow-y: hidden;
  overflow-x: auto;
}

.inlineCode {
  background-color: var(--code-bg);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
  color: var(--code-fg);
  padding: 0.2em;
  margin: -0.2em 0;
  border-radius: 3px;
  font-size: 85%;
  text-indent: 0;
}

.example {
  color: var(--example-btn-fg);
}
